!!!
%html
  %head
    %title 崩坏：星穹铁道

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header
      = render 'layouts/navbar'
    .container.layout.mt-3
      %aside.sidebar
        = render 'layouts/sidebar'
      %main.main
        = yield
    %footer
      = render 'layouts/footer'
      
